@charset "utf-8";
//리셋
html, body {height:100%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, header, footer,blockquote,table,th,td,nav {margin:0; padding:0; font-family: "Roboto",Arial,sans-serif;}
#wrap {width 100%}
a {  
    text-decoration: none; 
    color : #404040;
}

a:hover{
    text-decoration: underline;
}
    
body {   
    background-color: #e5e5e5; 
}

header {
    position: fixed;
    background-color: #f1f1f1;
    width: 100%;  
    height: 72px;
    padding: 14px 20px 20px 0px;
    z-index: 100;
}

header #m_menu {
    display: none;
}

header #logo {
    float: left;
    padding-left: 30px;
}
header #logo img {
    width: 180px;
}

header .search{
    float: left;
    width:50%;
}

header .search form {
    float: left;
    width: 83%;
    margin-left: 22px;
}

header .search form input {
    width: 98%;
    height: 26px;
    border-style: 1px solid #cccccc;
    font-size: 16px;
    color: #a9a9a9;
}

header .search .button {
    float: left;
    margin-left: -4px;
    width: 12%; 
}
header .search .button input{
    background-color: #4684ee;
    width: 60px;
    height: 32px;
    border: none;
    
    border-radius: 0 4px 4px 0;
    background-image: url(images/search.png);
    background-position: center;
}

header .login{
    float: right;
    width: 28%;
    margin-right: 2%;
}

header .login p{
    float: right;
    margin: 9px 10px;
    font-size: 0.8em;
}

header .login .menu a{
    float: right;
    margin: 8px 10px;
    width: 16px;
    height: 16px;
    background-image: url(images/menu_off.png);
}

header .login .menu a:hover{
    background-image: url(images/menu_on.png);
}

header .login .noti a{
    float: right;
    margin: 6px 10px;
    width: 19px;
    height: 20px;
    background-image: url(images/notification_off.png);
}

header .login .noti a:hover{
    background-image: url(images/notification_on.png);
}

header .login .share a{
    float: right;
    margin: 0px 2px;
    width: 56px;
    height: 22px;
    background-color: #e6e6e6;
    font-size: 0.8em;
    text-align: center;
    padding-top: 8px;
    cursor: default;
}

header .login .share a:hover{
    text-decoration: none;
    background-color: #dddddd;
}

header .login .photo{
    float: right;
    margin: 0px 10px;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background-image: url(images/photo.jpg);
}

header nav {
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}

header nav h2 {
    float: left;
    width: 180px;
    height: 22px;
    background-color: #1aa1e1;
    padding: 14px 10px; 
}

header nav h2 img {
    float: left;
    padding: 0px 20px;
}

header nav h2 a p {
    float: left;
    font-size: 0.8em;
    font-style: normal;
    color: #ffffff;
}

header nav ul {
    float: left;
    width: 340px;
    margin-left: 30px;
}

header nav ul .genre {
    float: left;
    width: 90px;
    height: 50px;
    margin-right:4px;
}

header nav ul .genre:hover {
    background-color: #f1f1f1;
}

header nav ul .genre a p {
    float: left;
    padding: 16px 8px 14px 20px;;
    font-size: 0.94em;
}

header nav ul .genre a img {
    float: left;
    padding-top: 18px;
}

header nav ul .line {
    float: left;
    width: 4px;
    height: 38px;
    margin-top: 6px;
    border-left: 1px solid #d6d6d6;
}

header nav ul li {
    float: left;
    padding: 16px;
    font-size: 0.94em;
    list-style: none;
}

header nav ul li:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

header nav ul .line2 {
    border-bottom: 2px solid #1aa1e1;
}

header nav .navLeft {
    float: right;
    margin: 10px 40px;
}

header nav .navLeft img {
    margin-left: 12px;
    padding: 4px 18px;
    border: 1px solid #cccccc;
}

header nav .navLeft img:hover {
    padding: 3px 17px;
    border: 2px solid #cccccc;
}

aside {
    position: fixed;
    top: 105px;
    width: 200px;
    height: 190px;
    box-shadow: 2px 2px #d7d7d7;
}

aside .left {
    float: left;
    width: 24px;
    height: 100%;
    background-color: #ffffff;
}

aside .left img{
    margin: 80px 8px;
}

aside .right {
    float : left;
    width: 176px;
    height: 184px;
    background-color: #f3f3f3;
    padding-top: 6px;
}

aside li {  
    width: 176px;
    height: 36px;
    background-color: #f3f3f3;
    list-style: none;
    
}

aside li a {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
}

aside li a:hover{
    text-decoration: none;
}

aside li a p{
    padding: 8px 0 8px 20px;
}

aside li a p:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

article {
    padding : 140px 0 0 260px
}

article .contents {
    width: 100%;
}

article .contents .cont_title {
    float: left;
}

article .contents .cont_title h3 {
    width: 790px;
    font-size: 28px;
    font-weight: normal;
}

article .contents .cont_title h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

article .contents .button {
    float: left;
    margin: 10px auto;
    background-color: #1bb5ff
}

article .contents .button input {
    width: 60px;
    height: 32px;
    background-color: #1aa1e1;
    border: none;
    color : #ffffff;
}

article .contents .button input:hover {
    width: 60px;
    height: 30px;
    background-color: #1bb5ff;
    margin-top: 2px;
    border-bottom: 2px solid #666666;
    color : #ffffff;
}

article .contents .books {
    clear: both;
    width: 100%;
    height: 370px;
}

article .contents .books .book {
    float: left;
    width: 160px; 
    height: 330px;
    margin-right: 12px;
    background-color: #ffffff;
    box-shadow: 2px 2px #d8d8d8;
    list-style: none;
}

article .contents .books .book:hover{
    background-color: #f3f3f3;
    box-shadow: 2px 2px #aaaaaa;
}

article .contents .books .book .bookImage {
    width: 100%;
    height: 240px;
    background-color: #f5f5f5;
}

article .contents .books .book .bookImage img {
    width: 100%;   
    height: 240px;
}

article .contents .books .book .title {
    height: 22px;  
    padding: 4px 0 0 8px;
}

article .contents .books .book .author {
    position: relative;
    z-index: 1;
    height: 20px;   
    padding-left: 8px;
    font-size: 0.8em;
    color: #aaaaaa;
}

article .contents .books .book .price a{
    float: right;
    position: relative;
    top: 20px;
    right: 10px;
    width: 60px;
    height: 20px;
    text-align: right;
    font-family: ;
    font-size: 0.8em;
    color: #1aa1e1;
}

article .contents .books .book .price2 a{
    float: right;
    position: relative;
    z-index: 2;
    top: -20px;
    right: 10px;
    width: 60px;
    height: 20px;
    text-align: right;
    font-size: 0.8em;
    color: #1aa1e1;
}

article .contents .books .book .detail {
    padding-left: 8px;
    font-size: 0.8em;
    font-style: italic;
    color: #aaaaaa;
}

footer {
    padding:0 60px 0 260px;
    font-size: 0.8em;
    color: #777;
}

footer p {
    margin-top: 10px;
}

footer p a{
    color: #777;
}

#m_nav {
    display: none;
}

/* resposive web design area */
@media screen and (max-width:1280px){
    #wrap {width: 100%;}
}

@media screen and (max-width:1200px){
    #wrap {width: 1200px;}
    header {width: 1200px;}
    
    header .search{
    float: left;
    width:500px
    }

    header .search form {
        float: left;
        width: 420px;
        margin-left: 22px;
    }
    
    header .login{
        float: left;
        margin-left: 70px;
    }
    header nav .navLeft {
    float: left;
    margin: 10px 40px 0 400px;
    }
}


@media screen and (max-width:400px){
    body {overflow-x: hidden;}
    #wrap {min-width: 400px;}
    header {
        background-color: #fff;
        height: 24px;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }
    header #m_menu {
        display: block;
        float: left;
        margin: 8px 20px;
    }
    header #logo {
        float: left;
        padding-left: 36px;
    }
    header .search form {
        display: none;
    }
    header .search .button input {
        width: 20px;
        height: 18px;
        margin: 8px 10px 0 50px;
        background-color: #fff;
        background-image: url(images/m_02.png);
    }
    header .login{
        display: none;
    }
    header nav {
        display: none;
    }
    aside {
        display: none;
    }
    article {
        padding: 80px 0 0 10px;
    }
    article .contents h3 {
        width: 200px;
        height: 40px;
        padding-top:10px;
    }
    article .contents h3 span {
        display: none;
    }
    article .contents .button {
        position: absolute;
        left: 280px;
    }
    
    article .contents .cont_title h4 {
        display: none;
    }
    
    article .contents .button {
        float: left;
    }
    
    article .contents .books .hide{
        display: none;
    }
    footer{
        display: none;
    }
    #m_nav{
        display: block;
        width: 400px;
        height: 50px;
        position: fixed;
        bottom: 0px;
        background-color: rgba(255,255,255,0.9);
    }
    #m_nav img{
        margin : 6px 20px;
    }
}







